n8n-lead-form-workflow.json
{
  "name": "Restaurant Cambodia - Lead Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-cambodia-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Lead Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "restaurantName",
              "type": "string",
              "value": "={{ ($json.body && $json.body.restaurantName) || '' }}"
            },
            {
              "id": "a2",
              "name": "ownerName",
              "type": "string",
              "value": "={{ ($json.body && $json.body.ownerName) || '' }}"
            },
            {
              "id": "a3",
              "name": "contact",
              "type": "string",
              "value": "={{ ($json.body && $json.body.contact) || '' }}"
            },
            {
              "id": "a4",
              "name": "message",
              "type": "string",
              "value": "={{ ($json.body && $json.body.message) || '' }}"
            },
            {
              "id": "a5",
              "name": "honeypot",
              "type": "string",
              "value": "={{ ($json.body && $json.body.website) || '' }}"
            },
            {
              "id": "a6",
              "name": "submittedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-node",
      "name": "Format Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.honeypot }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.ownerName }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.contact }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-node",
      "name": "Validate Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID",
        "text": "=New lead from restaurant-cambodia.com\n\nRestaurant: {{$json.restaurantName}}\nOwner: {{$json.ownerName}}\nContact: {{$json.contact}}\nMessage: {{$json.message || '(none)'}}\nSubmitted: {{$json.submittedAt}}",
        "additionalFields": {}
      },
      "id": "telegram-node",
      "name": "Notify Owner on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 180],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submitted At": "={{$json.submittedAt}}",
            "Restaurant": "={{$json.restaurantName}}",
            "Owner": "={{$json.ownerName}}",
            "Contact": "={{$json.contact}}",
            "Message": "={{$json.message}}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-node",
      "name": "Log Lead to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1140, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thanks! I will get back to you on Telegram soon.\" } }}",
        "options": {}
      },
      "id": "respond-success-node",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Please fill in your name and a phone or Telegram contact.\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error-node",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 440]
    }
  ],
  "connections": {
    "Lead Form Webhook": {
      "main": [[{ "node": "Format Lead", "type": "main", "index": 0 }]]
    },
    "Format Lead": {
      "main": [[{ "node": "Validate Lead", "type": "main", "index": 0 }]]
    },
    "Validate Lead": {
      "main": [
        [{ "node": "Notify Owner on Telegram", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Notify Owner on Telegram": {
      "main": [[{ "node": "Log Lead to Google Sheet", "type": "main", "index": 0 }]]
    },
    "Log Lead to Google Sheet": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
